body { 
	margin: 0;
	overflow: hidden;
 }

#maincontent {
	margin: 0px;
	color: #ffffff;
	font-family:Monospace;
	text-align: center;
	font-size: 15px;
	line-height: 30px;
	width: 100%;
  	height: 100% 
}

#info {
	position: absolute;
	bottom: 0px; width: 100%;
	padding: 15px;
	z-index:100;
}


#stats {
	position: absolute;
	padding: 15px;
	float: left;
	z-index:100;
}